<div id="page" class="categories">

    <div class="button button-back"></div>
    <div class="button button-logo"></div>

    <div class = 'iosSlider'>

        <!-- slider -->
        <div class = 'slider'>
            <div class="buttons-categories slide">
               <div class="button button-cat1"></div>
                <div class="cat text-cat1">Communes</div>
                
                <div class="button button-cat12"></div>
                <div class="cat text-cat12">Top Buzzes</div>
                
                <div class="button button-cat2"></div>
                <div class="cat text-cat2">Actualités</div>
                
                
                <div class="button button-cat18"></div>
                <div class="cat text-cat18">Santé</div>
                
                <div class="button button-cat4"></div>
                <div class="cat text-cat4">Cultes Religieux</div>
                
                
                <div class="button button-cat14"></div>
                <div class="cat text-cat14">Bon Plans</div>
                
                
                <div class="button button-cat5"></div>
                <div class="cat text-cat5">Loisirs</div>
                
                <div class="button button-cat3"></div>
                <div class="cat text-cat3">Tourisme</div>
                <div class="button button-cat11"></div>
                <div class="cat text-cat11">Restos</div>
                
            </div>

            <div class="buttons-categories slide slide2">
                  <div class="button button-cat15"></div>
                <div class="cat text-cat15">Club-Bars</div>
                
                <div class="button button-cat7"></div>
                <div class="cat text-cat7">Musique</div>
                <div class="button button-cat8"></div>
                <div class="cat text-cat8">Concerts</div>
                
                 <div class="button button-cat6"></div>
                <div class="cat text-cat6">Spectacles</div>
                
                
                <div class="button button-cat9"></div>
                <div class="cat text-cat9">Prestas Artistes</div>
                
                <div class="button button-cat10"></div>
                <div class="cat text-cat10">Soirées</div>
                
                <div class="button button-cat17"></div>
                <div class="cat text-cat17">Cinema</div>
                
                <div class="button button-cat16"></div>
                <div class="cat text-cat16">Rumeurs</div>
                
                <div class="button button-cat13"></div>
                <div class="cat text-cat13">Infos / Contacts</div>
              
                
                
                
            </div>
        </div>
    </div>
    
    <div class="indicators">
        <div class="indicator indicator-1"></div>
        <div class="indicator indicator-2"></div>
    </div>


    <!--
    <div class="buttons-categories">
        <div class="button button-cat1"></div>
        <div class="cat text-cat1">Communes</div>
        <div class="button button-cat2"></div>
        <div class="cat text-cat2">Actualités</div>
        <div class="button button-cat3"></div>
        <div class="cat text-cat3">Tourisme</div>
        <div class="button button-cat4"></div>
        <div class="cat text-cat4">Cultes Religieux</div>
        <div class="button button-cat5"></div>
        <div class="cat text-cat5">Loisirs</div>
        <div class="button button-cat6"></div>
        <div class="cat text-cat6">Spectacles</div>
        <div class="button button-cat7"></div>
        <div class="cat text-cat7">Musique</div>
        <div class="button button-cat8"></div>
        <div class="cat text-cat8">Concerts</div>
        <div class="button button-cat9"></div>
        <div class="cat text-cat9">Prestas Artistes</div>
        <div class="button button-cat10"></div>
        <div class="cat text-cat10">Soirées</div>
        <div class="button button-cat11"></div>
        <div class="cat text-cat11">Restos</div>
        <div class="button button-cat12"></div>
        <div class="cat text-cat12">Top Recommendations</div>
        <div class="button button-cat13"></div>
        <div class="cat text-cat13">Infos / Contacts</div>
        <div class="button button-cat14"></div>
        <div class="cat text-cat14">Bon Plans</div>
        <div class="button button-cat15"></div>
        <div class="cat text-cat15">Club-Bars</div>
        <div class="button button-cat16"></div>
        <div class="cat text-cat16">Rumeurs</div>
    </div>
    -->


    <div class="navigation">
        <img class="button button-next" src="media/img/rightarrow-128x128.png" style="width: 64px;height: 64px;"/>
        <img class="button button-previous" src="media/img/leftarrow-128x128.png" style="width: 64px;height: 64px;"/>
    </div>
</div>