<div id="page" class="contact">

    <div class="mtitle">Infos / Contacts</div>
    
    <div class="button button-info"></div>
    <div class="button button-logo"></div>
    
    
    <div class="button button-back2"></div>
    <a href="" id="call"><div class="button button-call"></div></a>
    <a href="" id="call2"><div class="button button-call2"></div></a>
    <a href="" id="email"><div class="button button-email"></div></a>
    <a href="" id="facebook"><div class="button button-facebook"></div></a>
    <a href="" id="twitter"><div class="button button-twitter"></div></a>
   

    
    
</div>