<div id="page" class="event">

    <div class="button button-back"></div>
    <div class="button button-logo"></div>

    <div class="maintitle">

    </div>

    <div class="event">
        <div class="date"></div>
        <div class="row">
            <div class="title"></div>
            <div class="picture"><img/></div>

            <div class="text">

            </div>

            
        </div>
        
        <div class="icons">
                <div class="button button-buzz"></div>
                <div class="button button-message"></div>
                <div class="button button-message-read"></div>
                <div class="button button-booking"></div>
                <div class="button button-video"></div>
            </div>

        <div class="bar">
            <div class="button button-twitter"></div>
            <div class="button button-facebook"></div>
            <div class="button button-googlemap"></div>
        </div>
    </div>

</div>