<div id="page" class="home">

    <div class="button-info">
        
    </div>
    <div class="button-config">
        
    </div>
 
    <div class="bs">
        <div class="b bguadeloupe">

        </div>
        <div class="b bmartinique">

        </div>
        <div class="b bguyane">

        </div>
        <div class="b breunion">

        </div>
    </div>

    <div class="guadeloupe">

    </div>
    <div class="martinique">

    </div>
    <div class="guyane">

    </div>
    <div class="reunion">

    </div>
    
    <div class="button-facebook">

    </div>
    
    <div class="button-twitter">
        
    </div>

</div>