<div id="page" class="search">

    <div class="mtitle"></div>
    <div class="button button-back"></div>
    <div class="button button-logo"></div>


    <div class="input" id="input-city">
        <div class="title">
            Ville
        </div>
        <select id="city">
            
        </select>
    </div>
    <div class="input" id="input-genre">
        <div class="title">
            
        </div>
        <select id="genre">
        </select>
    </div>
    
    <img src="media/img/button_top.png" id="input-top20"/>
    <img src="media/img/button_search.png" id="search"/>

</div>