  <cordova>
       <preference name="loadUrlTimeoutValue" value="60000" />
       <preference name="splashscreen" value="splash" />
       
        <plugins>
            <plugin name="Geolocation" value="org.apache.cordova.geolocation.Geolocation" />
            <plugin name="Camera" value="CDVCamera"/>
            <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
        </plugins>
        <access origin="*" />
    </cordova>