.button-back {
  background: url("../img/icon_back.png");
  width: 75px;
  height: 75px;
  position: absolute;
  top: 11px;
  left: 25px; }

.button-logo {
  background: url("../img/icon_home.png");
  width: 75px;
  height: 74px;
  position: absolute;
  top: 12px;
  left: 535px; }

.button-info {
  background: url("../img/icon_info.png");
  width: 75px;
  height: 75px;
  position: absolute;
  top: 11px;
  left: 25px; }

.button-home {
  background: url("../img/icon_home.png");
  width: 75px;
  height: 74px;
  position: absolute;
  top: 12px;
  left: 535px; }

.button-config {
  background: url("../img/button_config.png");
  width: 100px;
  height: 54px;
  position: absolute;
  top: 24px;
  left: 524px; }

body.r4i {
  height: 1096px; }
  body.r4i #page, body.r4i #page-transition {
    height: 1096px; }
  body.r4i #app {
    height: 1096px; }
  body.r4i #page.event .event {
    height: 994px; }
  body.r4i #page.event .bar {
    top: 935px !important; }
  body.r4i #page.event .button-buzz {
    top: 625px !important; }
  body.r4i #page.event .button-message, body.r4i #page.event .button-message-read {
    top: 625px !important; }
  body.r4i #page.event .button-booking, body.r4i #page.event .button-video {
    top: 790px !important; }
  body.r4i #page.categories .buttons-categories .cat {
    font-size: 17px; }
  body.r4i #page.listing #verticalWrapper {
    height: 935px !important; }
  body.r4i #page.ad {
    padding-top: 88px !important; }
  body.r4i #page.config {
    background: url("../img/bg_config1096.jpg") 0px 36px; }
    body.r4i #page.config .button-island1 {
      top: 406px;
      left: 452px; }
    body.r4i #page.config .button-island2 {
      top: 548px;
      left: 452px; }
    body.r4i #page.config .button-island3 {
      top: 693px;
      left: 452px; }
    body.r4i #page.config .button-island4 {
      top: 833px;
      left: 452px; }

#page.config {
  background: url("../img/bg_config920.jpg") 0px 36px; }
  #page.config .buttona {
    width: 100px;
    height: 100px;
    position: absolute; }
    #page.config .buttona.checked {
      width: 100px;
      height: 100px;
      background: url("../img/check.png") 14px 16px no-repeat; }
  #page.config .button-island1 {
    top: 323px;
    left: 452px; }
  #page.config .button-island2 {
    top: 465px;
    left: 452px; }
  #page.config .button-island3 {
    top: 610px;
    left: 452px; }
  #page.config .button-island4 {
    top: 750px;
    left: 452px; }

#page.contact {
  background: url("../img/contact_bg.jpg"); }
  #page.contact .mtitle {
    font-family: "mistralregular";
    width: 640px;
    height: 88px;
    padding-top: 12px;
    text-align: center;
    color: white;
    font-size: 60px;
    text-transform: uppercase; }
  #page.contact .button-back2 {
    background: url("../img/icon_back.png");
    width: 75px;
    height: 75px;
    position: absolute;
    top: 847px;
    left: 25px;
    color: white;
    font-size: 60px;
    text-transform: uppercase; }
  #page.contact .button {
    position: absolute; }
  #page.contact .button-call {
    z-index: 1;
    width: 191px;
    height: 56px;
    top: 122px;
    left: 0px;
    color: white;
    padding: 110px 0 0 0px;
    font-size: 25px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center; }
  #page.contact .button-call2 {
    z-index: 1;
    width: 191px;
    height: 56px;
    top: 122px;
    left: 430px;
    color: white;
    padding: 110px 0 0 0px;
    font-size: 25px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center; }
  #page.contact .button-email {
    top: 636px;
    width: 175px;
    height: 33px;
    color: white;
    padding: 167px 0 0 10px;
    font-size: 25px;
    color: white;
    font-size: 25px;
    text-align: center; }
  #page.contact .button-twitter {
    top: 680px;
    width: 175px;
    height: 67px;
    left: 280px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 121px; }
  #page.contact .button-facebook {
    top: 680px;
    width: 175px;
    height: 67px;
    left: 458px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 121px; }

#page.search {
  background: url("../img/bg_dark_linen.jpg"); }
  #page.search .mtitle {
    font-family: "mistralregular";
    background: url("../img/bg_wood.jpg");
    width: 640px;
    height: 88px;
    padding-top: 12px;
    text-align: center;
    color: white;
    font-size: 60px;
    text-transform: uppercase; }
  #page.search .input {
    font-family: "mistralregular";
    position: absolute;
    top: 150px;
    width: 640px;
    height: 157px;
    color: white;
    font-size: 42px;
    text-transform: uppercase;
    background: url("../img/search_input_bg.jpg") no-repeat 0px 50px; }
    #page.search .input select {
      width: 486px;
      text-align: center;
      margin-left: 89px;
      font-size: 40px;
      margin-top: 38px;
      background: transparent !important;
      border: none !important;
      width: 500px;
      text-align: center; }
    #page.search .input .title {
      text-align: center;
      margin-top: -11px; }
  #page.search #input-top20 {
    display: none;
    left: 350px;
    top: 400px;
    width: 150px; }
  #page.search #input-genre {
    top: 150px; }
  #page.search #input-city {
    top: 350px; }
  #page.search img {
    position: absolute;
    top: 600px;
    left: 185px;
    width: 275px; }
  #page.search .selected {
    padding: 7px 3px 0px 0px;
    border: 5px solid white;
    border-radius: 156px;
    margin-left: -6px; }
  #page.search #input-top20.selected {
    padding: 3px 3px 0px 0px;
    border: 5px solid white;
    border-radius: 156px;
    margin-left: -6px; }

#page.ad {
  background: url("../img/bg_wood.jpg"); }

#page.home {
  background: url("../img/menu-bg-640x920.jpg"); }
  #page.home .guadeloupe {
    background: url("../img/guadeloupe.png");
    width: 275px;
    height: 220px;
    position: absolute;
    top: 236px;
    left: -4px; }
  #page.home .martinique {
    background: url("../img/martinique.png");
    width: 275px;
    height: 220px;
    position: absolute;
    top: 236px;
    left: 375px; }
  #page.home .guyane {
    background: url("../img/guyane.png");
    width: 275px;
    height: 220px;
    position: absolute;
    top: 516px;
    left: -4px; }
  #page.home .reunion {
    background: url("../img/reunion.png");
    width: 275px;
    height: 220px;
    position: absolute;
    top: 516px;
    left: 375px; }
  #page.home .bs .b {
    width: 320px;
    height: 430px;
    position: absolute;
    z-index: 2; }
  #page.home .bs .bguadeloupe {
    top: 100px; }
  #page.home .bs .bmartinique {
    left: 320px;
    top: 100px; }
  #page.home .bs .bguyane {
    top: 530px;
    height: 290px; }
  #page.home .bs .breunion {
    top: 530px;
    left: 320px;
    height: 290px; }
  #page.home .button-facebook {
    background: url("../img/icon_facebook.png");
    width: 75px;
    height: 75px;
    position: absolute;
    top: 825px;
    left: 340px;
    display: none; }
  #page.home .button-twitter {
    background: url("../img/icon_twitter.png");
    width: 75px;
    height: 75px;
    position: absolute;
    top: 825px;
    left: 220px;
    display: none; }

#page.categories.island-1 {
  background: url("../img/bg_guadeloupe.jpg"); }
#page.categories.island-2 {
  background: url("../img/bg_martinique.jpg"); }
#page.categories.island-3 {
  background: url("../img/bg_guyane.jpg"); }
#page.categories.island-4 {
  background: url("../img/bg_reunion.jpg"); }
#page.categories .slide2 {
  display: none; }
#page.categories .indicators {
  width: 640px;
  height: 50px;
  position: absolute;
  top: 800px;
  text-align: center; }
  #page.categories .indicators .indicator {
    display: inline-block;
    background: grey;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    margin: 10px; }
    #page.categories .indicators .indicator.selected {
      background: white; }
#page.categories .buttons-categories {
  position: absolute;
  top: 0px;
  left: 0px; }
  #page.categories .buttons-categories .cat {
    font-size: 21px;
    color: white;
    width: 150px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding-top: 4px; }
  #page.categories .buttons-categories .button-cat1 {
    background: url("../img/icon_cat_commune.png");
    width: 150px;
    height: 150px;
    top: 50px;
    left: 50px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat1 {
    top: 190px;
    left: 50px; }
  #page.categories .buttons-categories .button-cat12 {
    background: url("../img/icon_cat_top_recommandation.png");
    width: 150px;
    height: 150px;
    top: 50px;
    left: 245px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat12 {
    top: 190px;
    left: 245px; }
  #page.categories .buttons-categories .button-cat2 {
    background: url("../img/icon_cat_actualites.png");
    width: 150px;
    height: 150px;
    top: 50px;
    left: 440px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat2 {
    top: 190px;
    left: 440px; }
  #page.categories .buttons-categories .button-cat18 {
    background: url("../img/icon_cat_health.png");
    width: 150px;
    height: 150px;
    top: 250px;
    left: 50px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat18 {
    top: 390px;
    left: 50px; }
  #page.categories .buttons-categories .button-cat4 {
    background: url("../img/icon_cat_eglises.png");
    width: 150px;
    height: 150px;
    top: 250px;
    left: 245px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat4 {
    top: 390px;
    left: 245px; }
  #page.categories .buttons-categories .button-cat14 {
    background: url("../img/icon_cat_bonsplans.png");
    width: 150px;
    height: 150px;
    top: 250px;
    left: 440px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat14 {
    top: 390px;
    left: 440px; }
  #page.categories .buttons-categories .button-cat5 {
    background: url("../img/icon_cat_loisirs.png");
    width: 150px;
    height: 150px;
    top: 460px;
    left: 50px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat5 {
    top: 610px;
    left: 50px; }
  #page.categories .buttons-categories .button-cat3 {
    background: url("../img/icon_cat_tourisme.png");
    width: 150px;
    height: 150px;
    top: 460px;
    left: 245px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat3 {
    top: 610px;
    left: 245px; }
  #page.categories .buttons-categories .button-cat11 {
    background: url("../img/icon_cat_restaurants.png");
    width: 150px;
    height: 150px;
    top: 460px;
    left: 440px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat11 {
    top: 610px;
    left: 440px; }
  #page.categories .buttons-categories .button-cat15 {
    background: url("../img/icon_cat_clubs.png");
    width: 150px;
    height: 150px;
    top: 50px;
    left: 50px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat15 {
    top: 190px;
    left: 50px; }
  #page.categories .buttons-categories .button-cat7 {
    background: url("../img/icon_cat_music.png");
    width: 150px;
    height: 150px;
    top: 50px;
    left: 245px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat7 {
    top: 190px;
    left: 245px; }
  #page.categories .buttons-categories .button-cat8 {
    background: url("../img/icon_cat_concerts.png");
    width: 150px;
    height: 150px;
    top: 50px;
    left: 440px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat8 {
    top: 190px;
    left: 440px; }
  #page.categories .buttons-categories .button-cat6 {
    background: url("../img/icon_cat_spectacles.png");
    width: 150px;
    height: 150px;
    top: 250px;
    left: 50px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat6 {
    top: 390px;
    left: 50px; }
  #page.categories .buttons-categories .button-cat9 {
    background: url("../img/icon_cat_prestas.png");
    width: 150px;
    height: 150px;
    top: 250px;
    left: 245px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat9 {
    top: 390px;
    left: 245px; }
  #page.categories .buttons-categories .button-cat10 {
    background: url("../img/icon_cat_soirees.png");
    width: 150px;
    height: 150px;
    top: 250px;
    left: 440px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat10 {
    top: 390px;
    left: 440px; }
  #page.categories .buttons-categories .button-cat17 {
    background: url("../img/icon_cat_cine.png");
    width: 150px;
    height: 150px;
    top: 460px;
    left: 50px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat17 {
    top: 610px;
    left: 50px; }
  #page.categories .buttons-categories .button-cat16 {
    background: url("../img/icon_cat_rumeurs.png");
    width: 150px;
    height: 150px;
    top: 460px;
    left: 245px;
    position: absolute; }
  #page.categories .buttons-categories .text-cat16 {
    top: 610px;
    left: 245px; }
  #page.categories .buttons-categories .button-cat13 {
    background: url("../img/icon_cat_info.png") center center no-repeat;
    width: 150px;
    height: 150px;
    top: 460px;
    left: 440px;
    position: absolute;
    background-size: 141px 143px; }
  #page.categories .buttons-categories .text-cat13 {
    top: 610px;
    left: 440px; }
#page.categories .button.selected {
  border: 5px solid white;
  border-radius: 80px;
  margin-top: -12px; }
#page.categories .navigation {
  width: 640px;
  height: 128px;
  position: absolute;
  top: 825px;
  left: 0px;
  padding-left: 290px;
  padding-top: 10px; }
  #page.categories .navigation .button-next {
    display: none; }
  #page.categories .navigation .button-previous {
    display: none; }

#page.terms {
  width: 640px;
  background: url("../img/bg_dark_linen.jpg"); }

.maintitle {
  font-family: "mistralregular";
  color: white;
  width: 400px;
  font-size: 54px;
  text-align: center;
  position: absolute;
  top: 12px;
  text-transform: uppercase;
  left: 120px; }

#page.message {
  background: url("../img/bg_wood.jpg"); }
  #page.message .mtitle {
    font-family: "mistralregular";
    width: 640px;
    height: 88px;
    padding-top: 12px;
    text-align: center;
    color: white;
    font-size: 60px;
    text-transform: uppercase; }
  #page.message .content {
    position: absolute;
    top: 110px;
    width: 640px;
    height: 809px;
    overflow: scroll;
    background: url("../img/bg_dark_linen.jpg"); }
    #page.message .content p {
      margin: 10px;
      color: white;
      font-size: 34px; }
    #page.message .content .separator {
      border-top: 5px solid white;
      width: 640px;
      height: 1px; }

#page.listing {
  background: url("../img/bg_dark_linen.jpg");
  /* valid both vertically and horizontally */
  /* only for vertical scrolling */ }
  #page.listing .scroller {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 162px; }
  #page.listing .scroller ul {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    /*list-style: none;*/ }
  #page.listing #verticalWrapper {
    width: 100%;
    /* will be the same as the width of the content area */
    height: 758px;
    /* will be changed by JavaScript to the height of the content area */
    overflow: auto; }
  #page.listing #verticalScroller {
    width: 100%;
    height: 100px;
    /* max number scroll elements + 1 times their height */ }
  #page.listing #top {
    background: url("../img/top20_img.png");
    width: 142px;
    height: 39px;
    position: absolute;
    top: 887px;
    z-index: 1;
    left: 249px;
    display: none; }
  #page.listing ul.top .title {
    width: 250px; }
  #page.listing ul.top .text {
    width: 250px; }
  #page.listing ul.top .star {
    margin: 22px;
    float: right; }
  #page.listing .date, #page.listing .thedate {
    background: url("../img/bg_date.jpg") 12px 0px;
    line-height: 55px;
    color: white;
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid black;
    padding-top: 8px; }
  #page.listing .thedate {
    position: absolute;
    top: 95px;
    z-index: 10;
    width: 640px;
    height: 56px; }
  #page.listing ul li {
    border-top: 2px solid black;
    width: 640px; }
    #page.listing ul li .picture, #page.listing ul li .right {
      color: white;
      vertical-align: top;
      margin: 20px;
      display: inline-block; }
    #page.listing ul li .title {
      font-weight: bold;
      color: white;
      font-size: 40px;
      width: 378px; }
    #page.listing ul li .text {
      color: white;
      font-size: 34px;
      width: 378px; }
    #page.listing ul li .picture {
      background: white;
      width: 150px;
      height: 150px;
      border-radius: 20px;
      position: relative;
      border: 5px solid #666666; }
      #page.listing ul li .picture img {
        max-height: 140px;
        max-width: 140px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
  #page.listing .separator {
    background: url("../img/bg_listing.jpg");
    height: 5px;
    width: 640px; }

#page.event {
  background: url("../img/bg_listing.jpg"); }
  #page.event .event {
    position: absolute;
    top: 100px;
    border-top: 2px solid black;
    background: url("../img/bg_dark_linen.jpg");
    width: 640px;
    height: 818px;
    overflow: scroll;
    overflow-x: hidden; }
    #page.event .event .picture {
      float: right;
      background: white;
      width: 300px;
      height: 400px;
      border-radius: 20px;
      border: 5px solid #666666;
      margin: 0 10px 10px 10px;
      position: relative; }
      #page.event .event .picture img {
        max-width: 290px;
        max-height: 390px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    #page.event .event .title {
      color: white;
      font-size: 35px;
      text-align: center;
      margin: 20px;
      text-transform: uppercase; }
    #page.event .event .text {
      color: white;
      font-size: 25px;
      padding: 10px; }
    #page.event .event .date {
      background: url("../img/bg_date.jpg") 12px 0px;
      line-height: 24px;
      color: white;
      text-align: center;
      font-size: 18px;
      border-bottom: 2px solid black;
      padding-top: 8px; }
    #page.event .event .icons .button-buzz {
      display: none;
      background: url("../img/icon_buzzer.png") -7px -5px;
      width: 186px;
      height: 186px;
      position: absolute;
      left: 370px;
      top: 540px; }
      #page.event .event .icons .button-buzz.selected {
        border: 5px solid white;
        border-radius: 156px;
        margin-left: -6px; }
      #page.event .event .icons .button-buzz.done {
        background: url("../img/voted.png") 0px 0px;
        width: 200px;
        height: 200px; }
    #page.event .event .icons .button-message {
      display: none;
      background: url("../img/messagenew.png") 0px 0px;
      width: 200px;
      height: 200px;
      position: absolute;
      left: 370px;
      top: 540px; }
      #page.event .event .icons .button-message.selected {
        border: 5px solid white;
        border-radius: 156px;
        margin-left: -6px; }
    #page.event .event .icons .button-message-read {
      display: none;
      background: url("../img/messageread.png") 0px 0px;
      width: 200px;
      height: 200px;
      position: absolute;
      left: 370px;
      top: 540px; }
      #page.event .event .icons .button-message-read.selected {
        border: 5px solid white;
        border-radius: 156px;
        margin-left: -6px; }
    #page.event .event .icons .button-booking {
      background: url("../img/icon_booking.png");
      width: 120px;
      height: 118px;
      position: absolute;
      left: 200px;
      top: 590px;
      display: none; }
      #page.event .event .icons .button-booking.selected {
        border: 5px solid white;
        border-radius: 156px; }
      #page.event .event .icons .button-booking.buy {
        background: url("../img/button_buy120.png"); }
    #page.event .event .icons .button-video {
      background: url("../img/icon_video.png");
      width: 120px;
      height: 120px;
      position: absolute;
      left: 40px;
      top: 590px;
      display: none; }
      #page.event .event .icons .button-video.selected {
        border: 5px solid white;
        border-radius: 156px; }
      #page.event .event .icons .button-video.internet {
        background: url("../img/button_internet120.png"); }
    #page.event .event .bar {
      background: url("../img/bg_date.jpg") 12px 0px;
      line-height: 55px;
      color: white;
      text-align: center;
      font-size: 25px;
      border-bottom: 2px solid black;
      padding-top: 8px;
      position: absolute;
      top: 758px;
      height: 50px;
      width: 640px; }
      #page.event .event .bar .button-facebook {
        background: url("../img/icon-2-facebook.png");
        width: 60px;
        height: 60px;
        position: absolute;
        top: 1px;
        left: 300px; }
      #page.event .event .bar .button-twitter {
        background: url("../img/icon-2-twitter.png");
        width: 60px;
        height: 60px;
        position: absolute;
        top: 2px;
        left: 180px; }
      #page.event .event .bar .button-googlemap {
        background: url("../img/icon-2-address.png");
        width: 150px;
        height: 60px;
        position: absolute;
        top: 3px;
        left: 420px; }
