$red: #FB5968; 
$pale: #F2F1EC;
$grey: #A4A39E;
$greyBox: #888888;

.vertical{
    #app{
        height:1024px;                   /* text area height */
        width:768px;                   /* text area width */
        
    }
    #logo{
        padding-left: 210px;
    }
    #loading-background {
        width: 768px;
        height: 1024px;
    }
    #loading{
        left: 300px;
        top: 430px
    }
    
    #popup {
        width: 768px;
        height: 1024px;
    }
    #popup-content{
        width: 700px;
        left: 22px;
    }
    #popup-closer{
        left: 702px
    }
    
    .contact-message{
        width: 667px;
    }
    
    #page.main{
        #buttons {
            
            .button{
                margin: 71px 10px 0px 25px;
            }
            form.login{
                margin: 30px 10px 0px 25px;
            }
        }
        
        #slideshow{
            margin-left: -128px;
            .arrow-right{
                left: 840px
            }
            .arrow-left{
                left: 155px;
            }
        }
    }
    
    form.account{
        .left{
            float:left; 
            width: 350px;
            margin-top: -10px;
        }
        .right{
            float:left; 
            width: 350px !important;
            margin-top: -10px;
        }
    }
    
    #page.orders {
        .orders {
            width: 725px;
            left: 20px;
            height: 790px;
        }
    }
    
    #page.other{
        .box{
            width: 550px;
            margin: 15px 90px 0px 90px;
        }
    }
    
    #page.map{
        #map{
            width: 768px !important;
            height: 906px !important;
        }
    }
    
    #page.menu{
        margin-top: 0px;
        
        .box{
            width: 580px;
            height: 160px;
            
        }
    }
    #page.catalog  {
        .product-categories{
            height: 820px;
            .template.product-category{
                width: 585px;
                margin: 10px 90px 0px 90px;
                
                .img{
                    width: 128px;
                    height: 90px;
                }
                img{
                    max-width: 128px;
                    max-height: 90px;
                }
            }
        }
        
        .product-categories-vertical {
            height: 828px;
        }
        .products {
            height: 819px;
            width: 200px;
            .template.product {
                font-size: 15px;
            }
        }
        .product-full{
            left: 350px;
            height: 720px;
        }
        .cart{
            top: 872px;
        }
    }
    
    #page.cart{
        .pay{
            margin-left: 195px;
        }
        .products{
            width: 665px;
            left: 50px;
        }
        
    }
}